.btn {
  background-color: darkorange;
  padding: 10px 20px;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 16px;
}
.btn:hover {
  background-color: red;
  color: white;
}
