.kutu1 {
  width: 70px;
  height: 70px;
  background-color: brown;
  top: 100px;
  position: relative;
  z-index: 1s;
}
/* z-index degeri yuksek olan ustte olur. mavinin degeri buyuk oldugu icin ustte */

.kutu2 {
  width: 70px;
  height: 70px;
  background-color: blue;
  z-index: 2;
}
