.yazi {
  font-size: 30px;
  color: red;
  font-weight: bold;
  text-shadow: 3px 3px 5px black;
}

.kutu {
  width: 100px;
  height: 100px;
  background-color: hotpink;
  margin-top: 20px;
  box-shadow: 0px 0px 15px black;
}

.yazi2 {
  font-size: 30px;
  color: red;
  font-weight: bold;
  text-shadow: 3px 3px 5px black, 5px 5px 5px green;
}
